# First Open the CSV file by pandas Librairy!

In [3]:
import pandas as pd
raw=pd.read_csv('2G-cell_level_raw.csv')

C:\Users\88019\AppData\Local\Temp\ipykernel_14000\3963813094.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  raw=pd.read_csv('2G-cell_level_raw.csv')

#  To Show first five rows data!

In [2]:
raw.head()

,Time,Cell,Integrity,CM30:Call Drops on SDCCH,K3003:Successful SDCCH Seizures,K3013A:Successful TCH Seizures (Traffic Channel),K3010A:TCH Seizure Requests (Traffic Channel),K3010B:TCH Seizure Requests in TCH Handovers (Traffic Channel),A3129H:Failed Assignments (Clear Commands Sent By MSC),CM33:Call Drops on Traffic Channel,...,CH313:Number of Successful Outgoing Internal Inter-Cell Handovers,CH333:Successful Outgoing External Inter-Cell Handovers,CH311:Number of Outgoing Internal Inter-Cell Handover Commands,CH331:Outgoing External Inter-Cell Handover Commands,K3001:Failed SDCCH Seizures due to Busy SDCCH,K3000:SDCCH Seizure Requests,K3011A:Failed TCH Seizures due to Busy TCH (Traffic Channel),K3011B:Failed TCH Seizures in TCH Handovers due to Busy TCH (Traffic Channel),K3014:Traffic Volume on TCH(Erl),K3024:Traffic Volume on TCH (Signaling Channel)(Erl)
0,2016-12-08 00:00,CTG_X0664_5,100%,0,30,9,9,3,0,0,...,2,0,2,0,0,30,0,0,0.0569,0.0
1,2016-12-08 00:00,CTG_X0846_3,1,0,168,16,16,23,0,2,...,12,1,15,1,0,168,0,0,0.5083,0.0
2,2016-12-08 00:00,BAR_X0233_2,1,0,144,22,23,5,1,0,...,6,0,6,0,0,144,0,0,1.0667,0.0
3,2016-12-08 00:00,CTG_X1337_4,1,0,147,42,43,11,0,1,...,26,0,26,0,0,147,0,0,0.3792,0.0
4,2016-12-08 00:00,BAR_X0170_3,1,0,235,15,15,8,0,1,...,6,0,6,0,0,235,0,0,0.5292,0.0

# Checking Time Columns (2) have mixed types!

In [3]:
raw['Time']

0        2016-12-08 00:00
1        2016-12-08 00:00
2        2016-12-08 00:00
3        2016-12-08 00:00
4        2016-12-08 00:00
               ...
44827    2016-12-11 23:00
44828    2016-12-11 23:00
44829    2016-12-11 23:00
44830    2016-12-11 23:00
44831    2016-12-11 23:00
Name: Time, Length: 44832, dtype: object

# Separate Date and Time from mixed column 'Time'!

In [4]:
raw['Date']=[d.date() for d in pd.to_datetime(raw['Time'])]
raw['New_T']=[t.time() for t in pd.to_datetime(raw['Time'])]
raw

,Time,Cell,Integrity,CM30:Call Drops on SDCCH,K3003:Successful SDCCH Seizures,K3013A:Successful TCH Seizures (Traffic Channel),K3010A:TCH Seizure Requests (Traffic Channel),K3010B:TCH Seizure Requests in TCH Handovers (Traffic Channel),A3129H:Failed Assignments (Clear Commands Sent By MSC),CM33:Call Drops on Traffic Channel,...,CH311:Number of Outgoing Internal Inter-Cell Handover Commands,CH331:Outgoing External Inter-Cell Handover Commands,K3001:Failed SDCCH Seizures due to Busy SDCCH,K3000:SDCCH Seizure Requests,K3011A:Failed TCH Seizures due to Busy TCH (Traffic Channel),K3011B:Failed TCH Seizures in TCH Handovers due to Busy TCH (Traffic Channel),K3014:Traffic Volume on TCH(Erl),K3024:Traffic Volume on TCH (Signaling Channel)(Erl),Date,New_T
0,2016-12-08 00:00,CTG_X0664_5,100%,0,30,9,9,3,0,0,...,2,0,0,30,0,0,0.0569,0.0000,2016-12-08,00:00:00
1,2016-12-08 00:00,CTG_X0846_3,1,0,168,16,16,23,0,2,...,15,1,0,168,0,0,0.5083,0.0000,2016-12-08,00:00:00
2,2016-12-08 00:00,BAR_X0233_2,1,0,144,22,23,5,1,0,...,6,0,0,144,0,0,1.0667,0.0000,2016-12-08,00:00:00
3,2016-12-08 00:00,CTG_X1337_4,1,0,147,42,43,11,0,1,...,26,0,0,147,0,0,0.3792,0.0000,2016-12-08,00:00:00
4,2016-12-08 00:00,BAR_X0170_3,1,0,235,15,15,8,0,1,...,6,0,0,235,0,0,0.5292,0.0000,2016-12-08,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44827,2016-12-11 23:00,CTG_X0772_3,1,0,542,44,44,2,0,0,...,1,0,2,544,0,0,0.8083,0.0000,2016-12-11,23:00:00
44828,2016-12-11 23:00,CTG_X0635_3,1,0,558,78,79,19,0,1,...,18,0,0,557,0,0,2.4917,0.0019,2016-12-11,23:00:00
44829,2016-12-11 23:00,RAJ_X0377_3,1,0,453,6,6,4,0,0,...,2,0,0,453,0,0,0.0556,0.0000,2016-12-11,23:00:00
44830,2016-12-11 23:00,RAJ_X0315_2,1,0,461,61,61,41,0,1,...,14,0,0,461,0,0,0.9111,0.0000,2016-12-11,23:00:00
44831,2016-12-11 23:00,CTG_X0668_2,1,0,218,58,58,24,0,0,...,18,0,0,218,0,0,2.0472,0.0075,2016-12-11,23:00:00

In [5]:
raw.columns

Index(['Time', 'Cell', 'Integrity', 'CM30:Call Drops on SDCCH',
       'K3003:Successful SDCCH Seizures',
       'K3013A:Successful TCH Seizures (Traffic Channel)',
       'K3010A:TCH Seizure Requests (Traffic Channel)',
       'K3010B:TCH Seizure Requests in TCH Handovers (Traffic Channel)',
       'A3129H:Failed Assignments (Clear Commands Sent By MSC)',
       'CM33:Call Drops on Traffic Channel',
       'CH343:Successful Incoming External Inter-Cell Handovers',
       'CH323:Number of Successful Incoming Internal Inter-Cell Handovers',
       'CH313:Number of Successful Outgoing Internal Inter-Cell Handovers',
       'CH333:Successful Outgoing External Inter-Cell Handovers',
       'CH311:Number of Outgoing Internal Inter-Cell Handover Commands',
       'CH331:Outgoing External Inter-Cell Handover Commands',
       'K3001:Failed SDCCH Seizures due to Busy SDCCH',
       'K3000:SDCCH Seizure Requests',
       'K3011A:Failed TCH Seizures due to Busy TCH (Traffic Channel)',
       'K3011B:Failed TCH Seizures in TCH Handovers due to Busy TCH (Traffic Channel)',
       'K3014:Traffic Volume on TCH(Erl)',
       'K3024:Traffic Volume on TCH (Signaling Channel)(Erl)', 'Date',
       'New_T'],
      dtype='object')

# Unpacked columns list  into one tuple type in six (6) varible!

In [6]:
Time,Cell,Integrity,*Counter,Date,New_Time=raw.columns

In [7]:
Time,Cell,Integrity,Counter,Date,New_Time

('Time',
 'Cell',
 'Integrity',
 ['CM30:Call Drops on SDCCH',
  'K3003:Successful SDCCH Seizures',
  'K3013A:Successful TCH Seizures (Traffic Channel)',
  'K3010A:TCH Seizure Requests (Traffic Channel)',
  'K3010B:TCH Seizure Requests in TCH Handovers (Traffic Channel)',
  'A3129H:Failed Assignments (Clear Commands Sent By MSC)',
  'CM33:Call Drops on Traffic Channel',
  'CH343:Successful Incoming External Inter-Cell Handovers',
  'CH323:Number of Successful Incoming Internal Inter-Cell Handovers',
  'CH313:Number of Successful Outgoing Internal Inter-Cell Handovers',
  'CH333:Successful Outgoing External Inter-Cell Handovers',
  'CH311:Number of Outgoing Internal Inter-Cell Handover Commands',
  'CH331:Outgoing External Inter-Cell Handover Commands',
  'K3001:Failed SDCCH Seizures due to Busy SDCCH',
  'K3000:SDCCH Seizure Requests',
  'K3011A:Failed TCH Seizures due to Busy TCH (Traffic Channel)',
  'K3011B:Failed TCH Seizures in TCH Handovers due to Busy TCH (Traffic Channel)',
  'K3014:Traffic Volume on TCH(Erl)',
  'K3024:Traffic Volume on TCH (Signaling Channel)(Erl)'],
 'Date',
 'New_T')

# Filtering  the counter name from column name!

In [8]:
counter=[c[0]for c in [c.split(":")for c in Counter]]
counter

['CM30',
 'K3003',
 'K3013A',
 'K3010A',
 'K3010B',
 'A3129H',
 'CM33',
 'CH343',
 'CH323',
 'CH313',
 'CH333',
 'CH311',
 'CH331',
 'K3001',
 'K3000',
 'K3011A',
 'K3011B',
 'K3014',
 'K3024']

In [9]:
col1=['Time','Cell','Integrity']
col1.reverse()

# print(col1)

# Re-insert remain of three column ['Time','Cell','Integrity']

In [10]:
for c in col1:
    counter.insert(0,c) 
    
counter

['Time',
 'Cell',
 'Integrity',
 'CM30',
 'K3003',
 'K3013A',
 'K3010A',
 'K3010B',
 'A3129H',
 'CM33',
 'CH343',
 'CH323',
 'CH313',
 'CH333',
 'CH311',
 'CH331',
 'K3001',
 'K3000',
 'K3011A',
 'K3011B',
 'K3014',
 'K3024']

# Append two column [ 'Date','New_T'] in last

In [11]:
for i in [ 'Date','New_T']:
    counter.append(i)
counter

['Time',
 'Cell',
 'Integrity',
 'CM30',
 'K3003',
 'K3013A',
 'K3010A',
 'K3010B',
 'A3129H',
 'CM33',
 'CH343',
 'CH323',
 'CH313',
 'CH333',
 'CH311',
 'CH331',
 'K3001',
 'K3000',
 'K3011A',
 'K3011B',
 'K3014',
 'K3024',
 'Date',
 'New_T']

In [11]:
len(counter)

24

# Assign new column name as counter name to old column!

In [12]:

raw.columns=counter

In [13]:
raw

,Time,Cell,Integrity,CM30,K3003,K3013A,K3010A,K3010B,A3129H,CM33,...,CH311,CH331,K3001,K3000,K3011A,K3011B,K3014,K3024,Date,New_T
0,2016-12-08 00:00,CTG_X0664_5,100%,0,30,9,9,3,0,0,...,2,0,0,30,0,0,0.0569,0.0000,2016-12-08,00:00:00
1,2016-12-08 00:00,CTG_X0846_3,1,0,168,16,16,23,0,2,...,15,1,0,168,0,0,0.5083,0.0000,2016-12-08,00:00:00
2,2016-12-08 00:00,BAR_X0233_2,1,0,144,22,23,5,1,0,...,6,0,0,144,0,0,1.0667,0.0000,2016-12-08,00:00:00
3,2016-12-08 00:00,CTG_X1337_4,1,0,147,42,43,11,0,1,...,26,0,0,147,0,0,0.3792,0.0000,2016-12-08,00:00:00
4,2016-12-08 00:00,BAR_X0170_3,1,0,235,15,15,8,0,1,...,6,0,0,235,0,0,0.5292,0.0000,2016-12-08,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44827,2016-12-11 23:00,CTG_X0772_3,1,0,542,44,44,2,0,0,...,1,0,2,544,0,0,0.8083,0.0000,2016-12-11,23:00:00
44828,2016-12-11 23:00,CTG_X0635_3,1,0,558,78,79,19,0,1,...,18,0,0,557,0,0,2.4917,0.0019,2016-12-11,23:00:00
44829,2016-12-11 23:00,RAJ_X0377_3,1,0,453,6,6,4,0,0,...,2,0,0,453,0,0,0.0556,0.0000,2016-12-11,23:00:00
44830,2016-12-11 23:00,RAJ_X0315_2,1,0,461,61,61,41,0,1,...,14,0,0,461,0,0,0.9111,0.0000,2016-12-11,23:00:00
44831,2016-12-11 23:00,CTG_X0668_2,1,0,218,58,58,24,0,0,...,18,0,0,218,0,0,2.0472,0.0075,2016-12-11,23:00:00

In [14]:
print(type(raw))

<class 'pandas.core.frame.DataFrame'>

In [20]:
pd.DataFrame(raw)

,Time,Cell,Integrity,CM30,K3003,K3013A,K3010A,K3010B,A3129H,CM33,...,CH311,CH331,K3001,K3000,K3011A,K3011B,K3014,K3024,Date,New_T
0,2016-12-08 00:00,CTG_X0664_5,100%,0,30,9,9,3,0,0,...,2,0,0,30,0,0,0.0569,0.0000,2016-12-08,00:00:00
1,2016-12-08 00:00,CTG_X0846_3,1,0,168,16,16,23,0,2,...,15,1,0,168,0,0,0.5083,0.0000,2016-12-08,00:00:00
2,2016-12-08 00:00,BAR_X0233_2,1,0,144,22,23,5,1,0,...,6,0,0,144,0,0,1.0667,0.0000,2016-12-08,00:00:00
3,2016-12-08 00:00,CTG_X1337_4,1,0,147,42,43,11,0,1,...,26,0,0,147,0,0,0.3792,0.0000,2016-12-08,00:00:00
4,2016-12-08 00:00,BAR_X0170_3,1,0,235,15,15,8,0,1,...,6,0,0,235,0,0,0.5292,0.0000,2016-12-08,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44827,2016-12-11 23:00,CTG_X0772_3,1,0,542,44,44,2,0,0,...,1,0,2,544,0,0,0.8083,0.0000,2016-12-11,23:00:00
44828,2016-12-11 23:00,CTG_X0635_3,1,0,558,78,79,19,0,1,...,18,0,0,557,0,0,2.4917,0.0019,2016-12-11,23:00:00
44829,2016-12-11 23:00,RAJ_X0377_3,1,0,453,6,6,4,0,0,...,2,0,0,453,0,0,0.0556,0.0000,2016-12-11,23:00:00
44830,2016-12-11 23:00,RAJ_X0315_2,1,0,461,61,61,41,0,1,...,14,0,0,461,0,0,0.9111,0.0000,2016-12-11,23:00:00
44831,2016-12-11 23:00,CTG_X0668_2,1,0,218,58,58,24,0,0,...,18,0,0,218,0,0,2.0472,0.0075,2016-12-11,23:00:00

In [39]:
CSSR=eval('(1-raw.CM30/raw.K3003)*raw.K3013A/(raw.K3010A-raw.A3129H)*100')

In [40]:
# CSSR=eval("cssr(raw.CM30,raw.K3003,raw.K3013A,raw.K3010A,raw.A3129H)")
CSSR

0        100.000000
1        100.000000
2        100.000000
3         97.674419
4        100.000000
            ...
44827    100.000000
44828     98.734177
44829    100.000000
44830    100.000000
44831    100.000000
Length: 44832, dtype: float64

# 2G Cell Level KPI Calculation by Using Pandas eva() function!

In [16]:
cell_level_kpi=raw.eval(
    '''
traffic=K3014+K3024
cssr=(1-CM30/K3003)*K3013A/(K3010A-A3129H)*100
cdr= (CM33/(K3013A+CH343+CH323-CH313-CH333))*100
hosr=(CH313+CH333)/(CH311+CH331)*100
tch=((K3011A+K3011B)/(K3010A+K3010B))*100
sd=(K3001/K3000)*100
    '''
    )
cell_level_kpi

,Time,Cell,Integrity,CM30,K3003,K3013A,K3010A,K3010B,A3129H,CM33,...,K3014,K3024,Date,New_T,traffic,cssr,cdr,hosr,tch,sd
0,2016-12-08 00:00,CTG_X0664_5,100%,0,30,9,9,3,0,0,...,0.0569,0.0000,2016-12-08,00:00:00,0.0569,100.000000,0.000000,100.000000,0.0,0.000000
1,2016-12-08 00:00,CTG_X0846_3,1,0,168,16,16,23,0,2,...,0.5083,0.0000,2016-12-08,00:00:00,0.5083,100.000000,13.333333,81.250000,0.0,0.000000
2,2016-12-08 00:00,BAR_X0233_2,1,0,144,22,23,5,1,0,...,1.0667,0.0000,2016-12-08,00:00:00,1.0667,100.000000,0.000000,100.000000,0.0,0.000000
3,2016-12-08 00:00,CTG_X1337_4,1,0,147,42,43,11,0,1,...,0.3792,0.0000,2016-12-08,00:00:00,0.3792,97.674419,4.000000,100.000000,0.0,0.000000
4,2016-12-08 00:00,BAR_X0170_3,1,0,235,15,15,8,0,1,...,0.5292,0.0000,2016-12-08,00:00:00,0.5292,100.000000,6.250000,100.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44827,2016-12-11 23:00,CTG_X0772_3,1,0,542,44,44,2,0,0,...,0.8083,0.0000,2016-12-11,23:00:00,0.8083,100.000000,0.000000,100.000000,0.0,0.367647
44828,2016-12-11 23:00,CTG_X0635_3,1,0,558,78,79,19,0,1,...,2.4917,0.0019,2016-12-11,23:00:00,2.4936,98.734177,1.298701,83.333333,0.0,0.000000
44829,2016-12-11 23:00,RAJ_X0377_3,1,0,453,6,6,4,0,0,...,0.0556,0.0000,2016-12-11,23:00:00,0.0556,100.000000,0.000000,100.000000,0.0,0.000000
44830,2016-12-11 23:00,RAJ_X0315_2,1,0,461,61,61,41,0,1,...,0.9111,0.0000,2016-12-11,23:00:00,0.9111,100.000000,1.562500,100.000000,0.0,0.000000
44831,2016-12-11 23:00,CTG_X0668_2,1,0,218,58,58,24,0,0,...,2.0472,0.0075,2016-12-11,23:00:00,2.0547,100.000000,0.000000,100.000000,0.0,0.000000

# Create  a new DataFrame as new calculated KPI!

In [35]:
new=pd.DataFrame()
new['Date']=cell_level_kpi.Date
new['Time']=cell_level_kpi.New_T
new['Cell']=cell_level_kpi.Cell
new['Traffic']=cell_level_kpi.traffic
new['CSSR']=cell_level_kpi.cssr
new['CDR']=cell_level_kpi.cdr
new['HOSR']=cell_level_kpi.hosr
new['TCH_Con']=cell_level_kpi.tch
new['SD_Con']=cell_level_kpi.sd
new

,Date,Time,Cell,Traffic,CSSR,CDR,HOSR,TCH_Con,SD_Con
0,2016-12-08,00:00:00,CTG_X0664_5,0.0569,100.000000,0.000000,100.000000,0.0,0.000000
1,2016-12-08,00:00:00,CTG_X0846_3,0.5083,100.000000,13.333333,81.250000,0.0,0.000000
2,2016-12-08,00:00:00,BAR_X0233_2,1.0667,100.000000,0.000000,100.000000,0.0,0.000000
3,2016-12-08,00:00:00,CTG_X1337_4,0.3792,97.674419,4.000000,100.000000,0.0,0.000000
4,2016-12-08,00:00:00,BAR_X0170_3,0.5292,100.000000,6.250000,100.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...
44827,2016-12-11,23:00:00,CTG_X0772_3,0.8083,100.000000,0.000000,100.000000,0.0,0.367647
44828,2016-12-11,23:00:00,CTG_X0635_3,2.4936,98.734177,1.298701,83.333333,0.0,0.000000
44829,2016-12-11,23:00:00,RAJ_X0377_3,0.0556,100.000000,0.000000,100.000000,0.0,0.000000
44830,2016-12-11,23:00:00,RAJ_X0315_2,0.9111,100.000000,1.562500,100.000000,0.0,0.000000
44831,2016-12-11,23:00:00,CTG_X0668_2,2.0547,100.000000,0.000000,100.000000,0.0,0.000000

In [31]:
type(new)

pandas.core.frame.DataFrame

# Write to CSV file

In [37]:
new.to_csv('2G_Cell_Level_KPI_1.csv')

#